:root {
  --ifm-font-family-base: "Georgia", "Palatino", "Times", "Roman", serif;
}

.markdown a {
  text-decoration: underline;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0.25rem;
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.2rem;
}

.simple-table {
  font-size: 0.9rem;
}

.simple-table table {
  background-color: transparent !important;
  margin: 1.5rem auto;
}

.simple-table th,
.simple-table td {
  padding: 0.4rem;
}

.simple-table tr:nth-child(2n) {
  background-color: transparent !important;
}

.katex-display {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.katex-html {
  display: none !important;
}


/* No borders on image links */
a:link img, a:visited img { border-style: none }
 